
# ignore build files.
**/*.o
Chestnut
.cache/

# ignore compile commands for emacs lsp.
compile_commands.json

# ignore visual studio configures. 
# .vcxproj files remain.
.vs/
x64/
Chestnut.pdb
Chestnut/
Chestnut.exe
Chestnut.slnx
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user